footer.page{
  @include position(fixed, auto 0px 0px 0px);

  nav .menu, #sub-footer .container{
    @extend .container;
  }

  nav{
    height: $footer-nav-height;
    // Temporary until we get our background image
    @include transparent-stripies;
    @include markus(1.4em);
    background-color: rgba(169, 60, 15, 0.85);
    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;

      li{
        float: left;
        border-left: 1px solid rgba(0,0,0, 0.5);
        width: 25%;

        a{
          display: block;
          height: $footer-nav-height;
          line-height: $footer-nav-height;
          text-align: center;
          color: $text-color;
          text-decoration: none;
        }

        a:hover{ color: $accent-color; }
      }
      li:last-child{ border-right: 1px solid rgba(0,0,0, 0.5); }
    }
  }

  #sub-footer{
    text-align: center;
    color: #000;
    font-size: 0.75em;
    background-color: $highlight-color;
    height: $sub-footer-height;

    address, div {
      display: inline-block;
      font-style: normal;
    }

    address{
      line-height: $sub-footer-height;
      padding-right: 30px;
    }

    @mixin footer-image-replacement {
      @include hide-text;
      display: inline-block;
      height: $sub-footer-height - 8px; // I have no idea...
      line-height: $sub-footer-height;
      background: center center no-repeat;
    }

    .directions {
      padding-right: 30px;
      a{
        @include footer-image-replacement;
        width: 166px;
        // height: 35px;
        background-image: url(images/get-directions.png);
      }
    }

    .twitter, .facebook, .email{
      @include footer-image-replacement;
    }

    .twitter{
      width: 25px;
      // height: 21px;
      background-image: url(images/icon-twitter.png);
    }

    .facebook{
      width: 16px;
      // height: 25px;
      background-image: url(images/icon-facebook.png);
    }

    .email{
      width: 26px;
      // height: 20px;
      background-image: url(images/icon-email.png);
    }

    .copyright span{
      padding-left: 30px;
      // border-left: 1px solid #000;
    }
  }
}
