html, body{
  position: relative;
  height: 100%;
}

body{
  padding-bottom: $footer-height;
  background-color: $background-color;
  color: $text-color;
}

.container{
  margin: 0 auto;
  width: $site-width;
}

#main{
  padding-top: $header-height;
  @extend .container;
}
