html, body{
  position: relative;
  height: 100%;
}

body{
  padding-bottom: $footer-height;
  background: url(images/bg-home.png) 0px 42px no-repeat fixed;
  background-color: $background-color;
  color: $text-color;
  font-family: $georgia;
}

.container{
  margin: 0 auto;
  // width: $site-width;
  @include outer-container;
}

#main{
  padding-top: $header-height;
  @extend .container;
  h2{ @extend .sans; }
}

// 4 | 235

