html, body{
  position: relative;
  height: 100%;
}

body{
  padding-bottom: $footer-height;
  background: url(images/bg-generic.jpg) 0px 42px no-repeat fixed;
  background-size: 100% auto;
  background-color: $background-color;
  color: $text-color;
  font-family: $georgia;
}

.container{
  margin: 0 auto;
  width: $site-width;
}

.wrapper{
  @extend .container;
  padding-top: $header-height;
  overflow: hidden;
}


$main-section-width: 720px;
$sidebar-width: 220px;

#main{
  h2{ @extend .sans; }

  float: left;
  padding-right: 130px;
  margin-left: 10px;
  width: $main-section-width;
}

#sidebar{
  float: left;
  width: $sidebar-width;
}

hr{ height: 1px; border: none; background-color: #fff; }
