@import "vendor/normalize";
@import "bourbon";

$accent-color: #2dc4ff;
$highlight-color: #fbee1b;
$highlight-text-color: #fcee21;
$text-color: #fff;
$background-color: #000;

$site-width: 960px;

$navbar-height: 42px;
$logo-size: 160px;

$header-height: $logo-size;

$footer-nav-height: 38px;
$sub-footer-height: 52px;
$footer-height: $footer-nav-height + $sub-footer-height;

$border-color: rgba(255, 255, 255, 0.6);

#wpadminbar{ display: none; }
// Overwrite wordpress-admin styles in <head>
html[lang] { margin-top: 0 !important; }

* { box-sizing: border-box; }

@import "modules/typeography";
@import "modules/general";
@import "modules/sidebar";
@import "modules/alert";
@import "modules/home";
@import "modules/events";
@import "modules/event";
@import "modules/location";
@import "modules/contact";

@import "layout/general";
@import "layout/header";
@import "layout/footer";
