@import "vendor/normalize";
@import "bourbon";

$accent-color: #2dc4ff;
$highlight-color: #fbee1b;

$site-width: 960px;

$footer-nav-height: 38px;
$sub-footer-height: 52px;
$footer-height: $footer-nav-height + $sub-footer-height;

#wpadminbar{ display: none; }

@import "modules/typeography";

@import "layout/general";
@import "layout/header";
@import "layout/footer";
