.page.contact{
  $field-indent: 100px;

  form{
    .field{
      margin-bottom: 1.2em;
      label{
        width: $field-indent;
        float: left;
        padding: 0;
      }
    }

    .actions{ margin-left: $field-indent; }
  }
}
