
form{
  padding-top: 1em;

  fieldset{
    padding: 0 0 1.5em 0;
    margin: 1.5em 0 0 0;
    border-style: none none solid none;
    @extend .bottom-rule;

    h2{
      margin: 0.5em 0;
    }
  }

  .field{
    margin: 0.5em 0px;

    label{
      display: block;
      padding: 1em 0px 0.5em;
      small{
        font-style: italic;
        color: #d9d9d9;
      }
    }

    label.checkbox{
      padding: 0 1em;
    }
  }

  .actions{
    padding: 1em 0;

    input{
      @extend .sans;
      font-weight: 500;
      text-transform: uppercase;
      padding: 0.5em 1em;
      background-color: $highlight-color;
      border: none;

      @include transition(background-color 0.3s ease, color 0.3s ease);

      &:hover{
        background-color: $accent-color;
        color: #fff;
      }
    }

  }


  #email_label, #email{ display: none; } // Honeypot
}

