$home-footer-nav-height: 142px;

.home.page{
  background-image: url(images/bg-home.jpg);
  #bg-fade{ background-image: none; }
  .wrapper{ padding-bottom: $home-footer-nav-height + $sub-footer-height + 10px; }

  #main{
    width: 630px;
    margin: 0 auto;
    padding: 0;
    float: none;

    #mission{
      @include hide-text;
      background-image: url(images/home-banner.png);
      width: 623px;
      height: 422px;
    }

    #coming-soon{
      @extend .alert;
    }

    #sponsors{
      margin-top: 2em;
      color: $highlight-text-color;
      font-style: italic;

      .links{
        @extend .sans;
        color: $text-color;
        font-size: 0.9em;
        font-style: normal;
        text-transform: uppercase;
        a{ color: $text-color; }
      }
    }
  }

  footer nav{
    height: $home-footer-nav-height;
    border: none;
    background: rgba(0,0,0, 0.85);

    ul li{
      border: none;
      a{
        @include hide-text;
        height: $home-footer-nav-height;
        background-repeat: no-repeat;
        background-position: center top;
        opacity: 0.9;
      }
      a:hover{ opacity: 1; }

      a[href*=events]{ background-image: url(images/icon-events.png); }

      a[href*=hire-a-performer]{
        background-image: url(images/icon-hire.png);
        background-position-y: 11px;
      }

      a[href*=classes]{
        background-image: url(images/icon-classes.png);
        background-position-y: 11px;
      }

      a[href*=location]{
        background-image: url(images/icon-space.png);
        background-position-y: 36px;
      }
    }
  }
}
