ul.widgets{
  @include reset-list;
  padding-top: 10px;
}

#sidebar .menu{
  @include reset-list;
  @include bottom-rule;

  li{ margin-bottom: 5px; }
  li:last-child{ margin-bottom: 0; }

  a{
    @include markus(2.4em);
    display: block;
    color: $text-color;
    text-decoration: none;
    background: url(images/arrow-style.png) right center no-repeat;
    &:hover{ color: $highlight-text-color; }
  }
}

.widget_text{
  h4{
    margin: 0;
    line-height: 1.5em;
    font-style: normal;
  }

  p{ margin-top: 0; }
  color: $highlight-text-color;
  font-style: italic;
  font-size: .9em;
}
