@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300);
@import "../fonts/markus_ink";

body{ font-size: 16px; }

@mixin markus($font-size: 1em) {
  font-family: markus_inkregular;
  font-size: $font-size;
  letter-spacing: 0.06em;
  -webkit-font-smoothing: antialiased;
}

// Open Sans
// Markus Ink
// Book Antigua -> Georgia
// Other Font Thing -> http://www.google.com/fonts/specimen/Bevan, http://www.google.com/fonts/specimen/Alfa+Slab+One

// Temporary
.sans{ font-family: 'Open Sans', sans-serif; font-weight: 300;  }
